events {
  worker_connections   2000;
}

http {
  server {
    listen 80; 
    location / {
      {% for ip in groups.webservers %}
           proxy_pass http://{{ ip }}/;
      {% endfor %}
    }
  }
}
